body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Cuprum, Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}

a {
	text-decoration: none;
	color: #000000;
}

.visually-hidden {
	visibility: hidden;
}

.navigation {
	

	font-size: 17px;
	line-height: 20px;
	color: #ffffff;
	
	background-color: #32425c;
}

.logo {
	font-size: 20px;

	background-color: #ee3643;
	box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24);
	color: #ffffff;

	text-transform: uppercase;
}

.bookmarks a {
	font-family: "Cuprum";
	font-size: 17px;
	line-height: 18px;
	text-align: left;

	color: #ffffff;
}

.basket a {
	font-family: "Cuprum";
	font-size: 17px;
	line-height: 18px;
	text-align: left;

	color: #ffffff;
}

.checkout {
	font-family: "Cuprum";
	font-size: 17px;
	line-height: 18px;
	text-align: left;

	background-color: #63a63e;
	color: #ffffff;
}

header {
	
	background-color: #f4f7f9;
}

.data p {
	color: #ee3643;
	font-family: "Cuprum", sans-serif;
	font-style: italic;
	font-size: 16px;
}

.direction a {

	font-size: 21px;
	font-family: "Cuprum", sans-serif;
}

.direction address {
	font-family: "Cuprum";
	font-size: 14px;

	line-height: 24px;
	color: #32425c;
}

.enter a:first-child {
	
	

	font-size: 21px;
	font-family: "Cuprum", sans-serif;

	
}

.enter a:last-child {
	
	

	font-size: 21px;
	font-family: "Cuprum", sans-serif;

	
}

nav {
	height: 60px;
	width: 940px;

	font-size: 17px;
	line-height: 24px;
	color: #ffffff;
	box-shadow: 0px 5px 0px 0px #32425c;

	background-color: #32425c;
}

nav ul li {
	display: inline;
}

.materials {
	

	background-color: #ffbf47;
}

.catalog h3 {
	font-size: 24px;
	font-family: "Cuprum", sans-serif;

	color: #ffffff;
	
	padding-left: 23px;
	padding-top: 26px;
	padding-bottom: 75px;
	padding-right: 166px;
}

.materials a {
	font-size: 14px;
	color: #ffffff;
	
	padding-left: 24px;
	padding-top: 12px;
	padding-bottom: 14px;
	padding-right: 24px;
}

.tool {
	

	background-color: #3bbce3;
}

.slide {
	background-image: url(img/catalog.jpg);
}

.equipment {
	

	background-color: #dc91d8;
}

.sales {
	

	background-color: #8ed78f;
}

.delivery {
	

	background-color: #ffc047;
}

nav a:hover,
nav a:focus {
  background-color: #293449;
}

.block-1 li {
	list-style: none;
}

.block-2 li {
	list-style: none;
}

.line {
	width: 940px;
	height: 89px;
	background-color: #f9f5f0;
}

.line h2 {
	text-transform: uppercase;
}

.line a {
	font-family: Cuprum;
	font-size: 14px;
	text-transform: uppercase;

	padding-left: 55px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-right: 55px;
	float: right;

	background-color: #ee3643;
	color: #ffffff;

}

.catalog-perf ul li{
	list-style: none;
}

.catalog-perf li {
	width: 220px;
	height: 318px;

	border: 1px solid #eaeaea;
	background-color: #ffffff;
}

.popular-manuf {
	width: 940px;
	height: 89px;
	background-color: #f9f5f0;
}

.popular-manuf h2 {
	text-transform: uppercase;
}

.popular-manuf a {
	font-family: Cuprum;
	font-size: 14px;
	text-transform: uppercase;

	padding-left: 55px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-right: 55px;
	float: right;

	background-color: #ee3643;
	color: #ffffff;
}

.manufactures ul li {
	list-style: none;
}

.manufactures li {
	width: 220px;
	

	border: 1px solid #eaeaea;
	background-color: #ffffff;
}

.services h3 {
	font-family: "Cuprum", sans-serif;
	font-size: 30px;

	color: #000000;
}

.services p {
	width: 398px;
	height: 37px;

	font-family: "PTSans", sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	text-align: left;
}

.services h2 {
	font-family: "Cuprum", sans-serif;
	font-size: 36px;
	text-align: left;

	color: #32425c;
}

.services {
	
	background-color: #f4f7f9;
}

.content-3 a {
	font-family: "Cuprum", sans-serif;
	font-size: 14px;
	line-height: 18px;

	color: #ffffff;
	text-align: center;
}

.info h2 {
	font-family: "Cuprum", sans-serif;
	font-size: 30px;

	text-align: left;
	color: #000000;
}

.info p {
	font-family: "PTSans", sans-serif;
	font-size: 13px;

	line-height: 24px;
	text-align: left;

	color: #000000;
}

.left ul li {
	font-family: "Cuprum", sans-serif;
	font-size: 18px;

	line-height: 20px;
	text-align: left;
	color: #000000;
}

.left ul li::before {
	content: url(img/point.svg);
}

.left a {
	font-family: "Cuprum";
	font-size: 14px;

	line-height: 18px;
	text-transform: uppercase;
	text-align: center;

	color: #ffffff;
	background-color: #ee3643;
}

.right a {
	font-family: "Cuprum";
	font-size: 14px;

	line-height: 18px;
	text-transform: uppercase;
	text-align: center;

	color: #ffffff;
	background-color: #ee3643;
}

.f-logo {
	font-size: 24px;

	background-color: #ee3643;
	box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24);
	color: #ffffff;

	text-transform: uppercase;
}

.ending {
	background-color: #32425c;
	color: #ffffff;
}

.ending li a {
	font-family: "Cuprum", sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-align: left;

	list-style: none;
	color: #ffffff;
}

.color li a {
	color: #ffd180;
}

.f-telephone {
	font-family: "Cuprum", sans-serif;
	font-size: 18px;

	text-align: left;
	line-height: 24px;

	color: #f3f7f9;
}

.f-telephone a {
	color: #f3f7f9;
}

.links {
	background-color: #293449;
	color: #ffffff;
}

.links p {
	font-family: "Cuprum", sans-serif;
	font-size: 16px;

	text-align: left;
	line-height: 18px;

	color: #ffffff;
}

.f-center a {
	width: 42px;
	height: 42px;

	border-radius: 30px;

	background-color: #212a3a;
}

.f-right a {
	color: #ffd180;
}