body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}

a, button {
	cursor: pointer;
	text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	

	width: 100%;
	height: 42px;

	font-size: 17px;
	line-height: 20px;
	color: #ffffff;
	
	background-color: #293449;
}

.logo {
	padding: 12px 50px 12px 50px;

	font-size: 24px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;	
}

.logo:hover,
.logo:focus {
	background-color: #ca2c37;
	box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
	background-color: #ba2732;
	box-shadow: 0 5px 0 0 #8e1e26;
}

.navigation form {
	display: flex;
}

.navigation input[type=search] {
	display: flex;
	width: 100%;
    padding: 12px 90px 12px 0px;

    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    color: #fff;

    box-sizing: border-box;
    background-color: #293449;
    border: none;
}

.navigation input[type="search"]::-webkit-input-placeholder {
    color: #fff;
} 
.navigation input[type="search"]::-moz-placeholder {
    color: #fff;
}

.navigation button {
	padding-right: 10px; 
	display: flex;
	border: 0;
	background-color: #293449;
}

.navigation svg {
	padding-left: 12px;
	padding-right: 3px; 

	opacity: 0.3;
}

.navigation form:hover input,
.navigation form:hover button {
	background-color: #212a3a;
}

.navigation input:focus,
.navigation button:focus {
	background-color: #fff;
}

.navigation button:hover svg,
.navigation button:focus svg {
	opacity: 1;
}

.bookmarks a {
	padding: 13px 25px 12px 11px;
	color: #fff;
}

.basket a {
	padding: 13px 25px 12px 11px;
}

.red-basket a {
	padding: 13px 25px 12px 11px;
}

.top-buttons a {
	width: 150px;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
}

.top-buttons svg,
.basket svg,
.red-basket svg {
	padding: 0px 10px;
	width: 15px;
  	height: 15px;
  	
	opacity: 0.3;
}

.top-buttons:hover svg,
.basket:hover svg,
.red-basket:hover svg {
	opacity: 1;
}

.top-buttons:active svg,
.basket:active svg,
.red-basket:active svg {
	opacity: 0.3;
}

.basket a {
	color: #ffffff;
}

.red-basket a {
	color: #ffffff;

	background-color: #ee3643;
}

.red-basket a:hover,
.red-basket a:focus {
	background-color: #ca2c37;
}

.red-basket a:active {
	background-color: #ba2732;
}

.top-buttons:hover,
.top-buttons:focus,
.basket a:hover,
.basket a:focus {
	background-color: #212a3a;
}

.top-buttons:active,
.basket a:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.6);
}

.order-btn {
	padding: 12px 22px 12px 20px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;

	background-color: #63a63e;
}

.order-btn:hover,
.order-btn:focus {
	background-color: #5fbb2d;
}

.order-btn:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.6);
}

header {
	min-height: 320px;

	background-color: #f4f7f9;
}

.data {
	display: flex;
	align-items: center;
	justify-content: center;
}

.data p {
	width: 197px;
    margin: 49px 0 40px 52px;

    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;
    font-family: "Cuprum","Arial",sans-serif;
    color: #ef5c67;
}

.phone {
	padding: 10px 52px 10px 0px;
	margin: 25px 69px 0px 71px;
	display: block;

	font-size: 21px;
	font-family: "Cuprum", Arial, sans-serif;
	line-height: 21px;
	color: #ee3643;

	border: 3px solid #ffffff;
}

.phone img {
	padding: 0px 31px 0px 15px;
}

.direction address {
	margin-top: 5px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-style: normal;
	text-align: center;
	color: #32425c;
}

.enter {
	padding: 12px 27px 12px 14px;
	margin-right: 5px; 
}

.enter svg {
	padding-right: 10px; 
}

.registration {
	padding: 12px 25px 12px 25px;
	margin-left: 5px;
}

.enter-buttons a {
	font-size: 21px;
	font-family: "Cuprum", Arial, sans-serif;
	line-height: 21px;
	color: #000;

	background-color: #ffffff;
}

.enter-buttons a:hover,
.enter-buttons a:focus {
	color: #ee3643;
}

.enter-buttons a:active {
	color: rgba(0, 0, 0, 0.3);
}

.enter-buttons a:hover path,
.enter-buttons a:focus path {
	fill: #293449;
}

.enter-buttons a:active path {
	fill: #c5c5c5;
}

.enter-buttons a:active {
	color: rgba(0, 0, 0, 0.3);
}

.login {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 25px 0 10px; 

	background: #fff;
}

.login a:first-child {
	display: flex;
	padding: 11px 39px 11px 14px;

	font-size: 21px;
	font-family: "Cuprum", Arial, sans-serif;
	line-height: 21px;
	color: #000000;
}

.login a:last-child {
	padding-top: 7px;
}

.cabinet {
	display: flex;
	align-items: center;
	margin-left: 17px;
}

.my-orders,
.my-office {
	padding: 0 14px;
	font-size: 16px;
	font-family: "Cuprum", Arial, sans-serif;
	line-height: 18px;
	text-decoration: underline;
	color: #32425c;
}

.my-orders:hover,
.my-orders:focus,
.my-office:hover,
.my-office:focus {
	color: #ee3643;
}

.my-orders:active,
.my-office:active {
	color: rgba(0, 0, 0, 0.3);
}

.login-name {
	font-size: 21px;
	font-family: "Cuprum", Arial, sans-serif;
	line-height: 21px;
}

.login-name:hover path,
.login-name:focus path {
	fill: #293449;
}

.login-name:active {
	opacity: 0.3;
}

nav {
	height: 57px;
	width: 940px;
	margin: 0 auto;
	margin-bottom: 60px;
	font-size: 0;
	
	text-align: center;
	background-color: #32425c;
	box-shadow: 0px 5px 0px 0px #293449;
}

nav ul {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	
	list-style: none;
}

nav li {
	display: inline-block;
}

nav a {
	display: block;
	padding: 20px 31px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
}

nav a:hover,
nav a:focus {
  background-color: #293449;
}

nav a:active {
	background-color: #1d2739;
	color: rgba(255, 255, 255, 0.5);
}

.scroll {
	width: 940px;
	margin: 0 auto;
}

.scroll ul {
	display: flex;
	padding: 0;
	margin: 25px 0;
}

.scroll li {
	padding: 0 7px;

	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	list-style: none;
}

.scroll a {
	color: #000000;
}

.main-name {
	width: 910px;
	margin: 0 auto;
	padding: 32px 0 34px 30px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
	color: #32425c;

	background-color: #f2f6f8;
}

.range {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 80px;

	background-color: #f7f3ec;
}

#slider-range {
	display: flex;
	align-self: center;
	width: 180px;
	height: 2px;

	background-color: #f7f3ec;
}

.amount {
	width: 50px;
	padding: 14px 22px;
	margin-top: 9px;

	font-family: "PTSans", Arial, sans-serif;
  	font-size: 17px;
  	font-weight: 400;
  	line-height: 18px;
  	text-align: center;
	color: #000000;

	background-color: #f7f3ec;
	border:0;
}

.options {
	display: flex;
	width: 940px;
	margin: 0 auto;
}

.lists {
	width: 220px;
	display: flex;
	flex-direction: column;
}

.lists p {
	display: inline;
	margin: 0 8px;
}

.lists h4 {
	display: inline;
	padding: 14px 0px 13px 18px;
	margin-top: 20px;

	font-family: "PTSans", Arial, sans-serif;
  	font-size: 13px;
  	line-height: 18px;
  	font-weight: normal;
  	text-transform: uppercase;

  	background-color: #f7f3ec;
}

.lists label:first-child {
	margin-bottom: 20px;

	font-family: "PTSans", Arial, sans-serif;
  	font-size: 17px;
  	font-weight: 700;
  	line-height: 30px;
  	text-transform: uppercase;
}
.lists legend {
	font-family: "PTSans", Arial, sans-serif;
  	font-size: 17px;
  	font-weight: 700;
  	line-height: 30px;
  	text-transform: uppercase;
}

.manufactur input[type="checkbox"]:checked,
.manufactur input[type="checkbox"]:not(:checked),
.power input[type="radio"]:checked,
.power input[type="radio"]:not(:checked) {
	position: absolute;
    left: -9999px;
}

.manufactur input[type="checkbox"]:checked + label, 
.manufactur input[type="checkbox"]:not(:checked) + label, 
.power input[type="radio"]:checked + label, 
.power input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 36px;
    line-height: 25px;
    cursor: pointer;
}

.manufactur input[type="checkbox"]:checked + label:before, 
.manufactur input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 21px;
    height: 21px;
    border: 2px solid #c5c5c5;
    background-color: #ffffff;
}

.power input[type="radio"]:checked + label:before, 
.power input[type="radio"]:not(:checked) + label:before {
	content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 17px;
    height: 17px;
    border: 4px solid #c5c5c5;
    background-color: #ffffff;
}

.manufactur input[type="checkbox"]:checked + label:before, 
.manufactur input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 3px;
}

.power input[type="radio"]:checked + label:before, 
.power input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

.manufactur input[type="checkbox"]:checked + label:after, 
.manufactur input[type="checkbox"]:not(:checked) + label:after, 
.power input[type="radio"]:checked + label:after, 
.power input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.manufactur input[type="checkbox"]:checked + label:after, 
.manufactur input[type="checkbox"]:not(:checked) + label:after {
    left: 6px;
    top: 2px;
    width: 17px;
    height: 7px;
    border-radius: 1px;
    border-left: 5px solid #c5c5c5;
    border-bottom: 5px solid #c5c5c5;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.power input[type="radio"]:checked + label:after, 
.power input[type="radio"]:not(:checked) + label:after {
    left: 8px;
    top: 7px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #c5c5c5;
}

.manufactur input[type="checkbox"]:not(:checked) + label:after, 
.power input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

.manufactur input[type="checkbox"]:checked + label:after, 
.power input[type="radio"]:checked + label:after {
    opacity: 0.8;
}

.manufactur input[type="checkbox"]:hover,
.manufactur input[type="checkbox"]:focus
.power input[type="radio"]:hover,
.power input[type="radio"]:focus {
	background-color: #b5b5b5;
}

.h-line {
	margin: 25px 0;

	opacity: 0.3;
}

.manufactur,
.power {
	border: none;
	padding: 0;
	margin: 0;
}

.manufactur ul {
	padding: 0;
	margin-bottom: 0;

	list-style: none;
}

.power ul {
	padding: 0;
	margin-bottom: 83px;

	list-style: none;
}

.manufactur li:not(:last-child),
.power li:not(:last-child) {
	padding-bottom: 20px;
}

.manufactur label {
	font-family: "PTSans", Arial, sans-serif;
  	font-size: 15px;
  	line-height: 20px;
  	text-transform: uppercase;
}

.power label {
	font-family: "PTSans", Arial, sans-serif;
  	font-size: 15px;
  	line-height: 20px;
  	text-transform: uppercase;
}

.power button {
	padding: 11px 39px 9px 39px;

	font-family: "PTSans", Arial, sans-serif;
  	font-size: 13px;
  	line-height: 18px;
  	text-transform: uppercase;
  	text-align: center;

  	border: 1px solid #e5e5e5;
  	background-color: #ffffff;
}

.main-catalog {
	width: 700px;
	margin-left: 20px;
}

.sorting {
	display: flex;
	justify-content: space-between;
	width: 700px;
	margin: 0;
	padding: 0;
	margin-top: 20px;

	background-color: #f7f3ec;
}

.sorting ul {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	/*padding: 11px 0px 11px 18px;*/
}

.sorting li {
	list-style: none;
}

.sorting h4 {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	padding: 14px 0px 13px 18px;
	margin-left: 19px;

	font-family: "PTSans", Arial, sans-serif;
  	font-size: 13px;
  	line-height: 18px;
  	font-weight: normal;
  	text-transform: uppercase;
}

.sorting svg,
.sort-btn svg {
	fill: #c5c5c5;
}

.sorting button:not(.sort-btn) {
	margin-right: 20px;

	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);

	border: 0;
	border-bottom: 1px dashed #ee3643;
	background-color: #f7f3ec;
}

.sort-btn {
	margin-right: 8px;

	border: 0;
	background-color: #f7f3ec;
}

.sorting button:hover:not(.sort-btn) ,
.sorting button:focus:not(.sort-btn) {
	color: #000000;

	border-bottom: 1px solid #ee3643;
}

.sorting button:active:not(.sort-btn) {
	color: #ee3643;

	border-bottom: 0;
}

.sort-btn:hover svg,
.sort-btn:focus svg {
	fill: #000000;
}

.sort-btn:active svg {
	fill: #ee3643;
}

.main-list {
	width: 700px;
}

.catalog-tools {
	margin: 59px auto 53px auto;
    width: 940px;
	
	line-height: 0;
    font-size: 0;
}

.catalog-container,
.block-1-container {
	display: flex;
}

.block-1,
.block-2 {
	display: flex;
	flex-direction: column;
}

.catalog {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; 
    width: 300px;
    height: 123px;
}

.catalog-image {
	display: flex;
	justify-content: center;
	align-items: center; 
	align-self: flex-end;
    width: 123px;
    height: 123px;
}

.catalog-image svg {
	display: flex;
}

.catalog h3 {
	display: block;
	margin: 21px 0px 0px 23px;
	font-size: 24px;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 700;
	line-height: 30px;
	color: #ffffff;	
}

.catalog a {
	display: block;
	width: 135px;
	padding: 10px 0px;
	margin: 12px 0px 0px 24px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;	
}

.catalog a:hover,
.catalog a:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.catalog a:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.slide {
	display: flex;
	flex-wrap: wrap;
	width: 620px;
	height: 266px;
	margin-right: 20px;

	color: #fff;
	background: #000000 url("../img/catalog.jpg") no-repeat center;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.arrows {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 620px;
}

.arrows button {
	margin: 0 20px 0 25px;
	padding: 0;

	border: 0;
	background-color: #000;
}

.slide a {
	display: block;

    width: 195px;
    padding: 10px 0px;
    margin-top: 44px;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
	font-family: "Cuprum", Arial, sans-serif;
	text-transform: uppercase;
  	text-align: center;
  	color: #ffffff;

  	background-color: #ee3643;
  	border-radius: 5px;
}

.slide h2 {
	margin-bottom: 4px;
	margin-left: 24px;

	font-size: 36px;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 36px;
	color: #ffffff;	
}

.slide p {
	margin-top: 4px;
	margin-left: 25px;

	font-size: 18px;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: normal;
	line-height: 24px;
	color: #ffffff;	
}

.slide a:hover,
.slide a:focus {
  	background-color: #ca2c37;
  	opacity: 1;
}

.slide a:active {
  	background-color: #ba2732;
  	opacity: 1;
}



.materials {
	margin-bottom: 20px;
	margin-right: 20px;

	background-color: #ffbf47;
}

.new-flag {
	display: flex;
	align-self:  flex-end; 
    position: absolute;
    z-index: 10;
    width: 60px;
    height: 60px;
    background: url(../img/new-flag.png) no-repeat 0 0;
}

.tool {
	margin-bottom: 20px;
	margin-right: 20px;

	background-color: #3bbce3;
}

.equipment {
	margin-bottom: 20px;

	background-color: #dc91d8;
}

.sales {
	margin-bottom: 20px;

	background-color: #8ed78f;
}

.delivery {
	background-color: #ffc047;
}

.block-1 {
	display: flex;
	justify-content: flex-end;
}

.block-1 li,
.block-2 li {
	list-style: none;
}

.line,
.popular-manuf {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: center;
	margin: auto;
	width: 940px;

	background-color: #f9f5f0;
}

.line h2,
.popular-manuf h2 {
	margin-left: 30px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	text-align: left;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
}

.line a,
.popular-manuf a {
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 8px 55px 8px 55px;
	margin-right: 24px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #ee3643;
	border-radius: 3px;
}

.line a:hover,
.line a:focus,
.popular-manuf a:hover,
.popular-manuf a:focus {
	background-color: #ca2c37;
}

.line a:active,
.popular-manuf a:active {
  	background-color: #ba2732;
}

.main-list {
	display: flex;
	width: 700px;
}

.catalog-items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
  	width: 940px;
  	margin-top: 20px;

  	font-size: 0;
}

.catalog-item {
  	position: relative;
  	display: inline-block;
 	width: 218px;
  	height: 316px;
  	margin-right: 20px;
  	margin-bottom: 20px;
  
  	line-height: 20px;
  	font-size: 16px;
  	font-weight: bold;
  	text-align: center;
  
  	border: 1px solid #ccc;
}

.catalog-item:last-child {
	margin: 0px;
}

.catalog-items-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
  	width: 700px;
  	margin-top: 20px;
  	margin-bottom: 32px;

  	font-size: 0;
}

.catalog-item-container {
  	position: relative;
  	display: inline-block;
 	width: 218px;
  	height: 316px;
  	margin-right: 20px;
  	margin-bottom: 20px;
  
  	line-height: 20px;
  	font-size: 16px;
  	font-weight: bold;
  	text-align: center;
  
  	border: 1px solid #ccc;
}

.catalog-item-container:nth-child(3n+3) {
	margin: 0px;
}

.catalog-item:hover,
.catalog-item:focus,
.catalog-item-container:hover,
.catalog-item-container:focus  {
	box-shadow: 
	0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item .flag,
.catalog-item-container .flag {
  	position: absolute;
  	top: -1px;
  	right: -1px;
  
  	width: 60px;
  	height: 60px;
  
  	text-indent: -1000px;
  	overflow: hidden;
  	z-index: 20;
}

.catalog-item .flag-new,
.catalog-item-container .flag-new {
  	background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions,
.catalog-item-container .actions {
  	position: absolute;
  	top: 0;
  	left: 0;
  
  	width: 218px;
  	height: 88px;
  	padding: 40px 0;
  
  	background-color: rgba(255,255,255,0.9);
  	z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark,
.catalog-item-container .actions .buy,
.catalog-item-container .actions .bookmark {
  	display: block;
  	width: 129px;
  	margin: 0 auto;
  	margin-bottom: 7px;
  	padding: 7px 0;
  
  	background-color: #63a63e;
  	border: 3px solid #63a63e;
  	border-bottom-color: #367315;
  	border-radius:3px;
  
  	color: #ffffff;
  	font-size: 14px;
  	font-weight: normal;
  	font-family: "Cuprum", sans-serif;
  	line-height: 18px;
  	text-decoration: none;
  	text-transform: uppercase;
}

.catalog-item svg,
.catalog-item-container svg {
	float: left;

	padding-left: 12px;
	opacity: 0.3;
}

.catalog-item .buy:hover,
.catalog-item .buy:focus,
.catalog-item-container.buy:hover,
.catalog-item-container .buy:focus {
	border: 3px solid #5fbb2d;
	border-bottom-color: #367315;
	background-color: #5fbb2d;
}

.catalog-item .buy:active,
.catalog-item-container .buy:active {
	border: 3px solid #518534;
	border-bottom-color: #518534;
	background-color: #518534;
}

.catalog-item .buy:hover svg,
.catalog-item .buy:focus svg,
.catalog-item-container .buy:hover svg,
.catalog-item-container .buy:focus svg  {
	opacity: 1;
}

.catalog-item .actions .bookmark,
.catalog-item-container .actions .bookmark {
  	color: #32425c;
  	background: #ffffff;
  	border-bottom-color: #63a63e;
}

.catalog-item .bookmark:hover,
.catalog-item .bookmark:focus,
.catalog-item-container .bookmark:hover,
.catalog-item-container .bookmark:focus {
	border: 3px solid #32425c;
	border-bottom-color: #32425c;
}

.catalog-item .bookmark:active,
.catalog-item-container .bookmark:active {
	border: 3px solid #32425c;
	border-bottom-color: #32425c;
	opacity: 0.3;
	
}

.catalog-item .actions,
.catalog-item-container .actions {
  	display: none;
}

.catalog-item:hover .actions,
.catalog-item-container:hover .actions {
  	display: block;
}

.catalog-item .image,
.catalog-item-container .image {
  	width: 218px;
  	height: 168px;
}

.catalog-item .image img,
.catalog-item-container .image img {
  	max-width: 100%;
}

.catalog-item p,
.catalog-item-container p {
  	min-height: 40px;
  	padding: 0 25px;
  	margin-top: 10px;
  	margin-bottom: 15px;

  	font-family: "PTSans", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	color: #000000;    
}

.catalog-item .discount,
.catalog-item-container .discount {
  	min-height: 20px;
  	margin-top: 15px;
  	margin-bottom: 10px;

  	font-family: "PTSans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	text-align: center;
  
  	color: #999;
  	text-decoration: line-through;
}

.catalog-item .price,
.catalog-item-container .price {
  	position: relative;
  	width: 80px;
 	margin: 10px auto;
  	margin-bottom: 15px;
  	padding: 11px 30px;

  	font-family: "PTSans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	text-align: center;
  
  	color: #fff;
  	background: #ee3643;
  	border-radius: 3px;
}

.catalog-item .price:after,
.catalog-item-container .price:after {
  	content: "";
  
  	position: absolute;
  	top: 0;
  	right: -20px;
  
  	width: 0;
  	height: 0;
	  
  	border: 20px solid white;
  	border-left-color: #ee3643;
}

.pages {
	display: flex;
	margin-bottom: 60px;
}

.pages ul {
	padding: 0;
}

.pages li {
	display: inline;
	list-style: none;
	margin-left: 10px;
}

.pages a {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #000000;

	border: 1px solid #e5e5e5;
	border-radius: 3px;
	background-color: #ffffff;
}

.pages a:not(.next) {
	padding: 14px 15px 15px 16px;
}

.next {
	padding: 14px 32px 13px 32px;
}

.pages a:hover,
.pages a:focus {
	border: 1px solid #bdc6ca;
}

.pages a:active {
	background-color: #ee3643;
}

.manufactures {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 940px;
	margin: 20px auto 65px auto;

	font-size: 0;
    line-height: 0;
}

.manufactures a {
	display: inline-block;
    width: 218px;
    height: 143px;
    margin: 0 20px 20px 0;
    vertical-align: middle;
    border: 1px solid #e5e5e5;
}
.manufactures a:last-child,
.manufactures a:last-child {
	margin-right: 0;
}

.manufactures img {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.manufactures a:hover,
.manufactures a:focus {
	box-shadow: 
	0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.manufactures a:active {
	opacity: 0.3;
	box-shadow: 
	0px 4px 10px 0px rgba(41, 52, 73, 0.5);
}

.service-section {
	width: 100%;
	background-color: #f4f7f9;
}

.services {
	display: block;
	width: 940px;
	margin: 0 auto;
	margin-bottom: 82px;

	background-color: #f4f7f9;
}

.services p {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.services label:hover,
.services label:focus {
	background-color: #293449;
	box-shadow: 0 1px 0 0 #293449, 
	inset 0 1px 0 0 #405069;
}

.description {
	margin-bottom: 74px; 
	width: 100%;
	height: 190px;

	background-color: #f4f7f9;
}

.description h3 {
	padding: 68px 0 29px;
	margin: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
}

.description p {
	width: 432px;
	height: 39px;
}

.service {
	display: flex;
	flex-direction: column;
	width: 940px;
}

.service-container input {
	display: none;
}

.service-container label {
	display: flex;
	width: 219px;
	padding: 19px 0px 19px 22px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	font-weight: 700;
	line-height: 30px;
	color: #ffffff;

	background-color: #32425c;
	box-shadow: 0 1px 0 0 #293449, 
	inset 0 1px 0 0 #405069;

	cursor: pointer;
}

.service-container input:checked + label {
	background: white;
	box-shadow: 0px 1px 0 0 #ffffff, 
	inset 0px 1px 0 0 #ffffff;

	color: #32425c;
	cursor: default;
}

.content-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	margin-top: 88px;
	margin-left: 320px;
    padding-bottom: 124px;

    background: url(../img/shadow.png) no-repeat;
}

.content {
	display: none;
	position: absolute;
	margin: 0;
	padding: 0;

	background-color: #f4f7f9;
}

.content h2 {
	margin: 0px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 36px;
	color: #32425c;
}

.content.dely {
	width: 620px;
	height: 250px;
	margin-top: 40px;

	background: url(../img/del_car.png) no-repeat 100% -200%;
}

.content.guar {
	width: 620px;
	height: 250px;
	margin-top: 40px;

	background: url(../img/guarantee.png) no-repeat 100% 0%;
}

.content.cred {
	width: 620px;
	height: 250px;
	margin-top: 40px;

	background: url(../img/credit.png) no-repeat 100% 0%;
}

.content.dely p {
	margin-top: 34px;
	width: 290px;
}

.content.guar p {
	width: 390px;
}

.content.cred p {
	width: 470px;
}

.service-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 99px;
}

/*.service-container .shadow {      
	display: flex;
    align-self: flex-start;
    position: absolute;
    z-index: 70;
    width: 15px;
    height: 284px;
    
    left: 850px;
    background: url(../img/shadow.png) no-repeat;
    background-position: 0 0;
}*/

.service input:nth-of-type(1):checked ~ .content-container .content:nth-of-type(1),
.service input:nth-of-type(2):checked ~ .content-container .content:nth-of-type(2),
.service input:nth-of-type(3):checked ~ .content-container .content:nth-of-type(3) {
	display: flex;
	flex-direction: column;
}

.content a {
	width: 107px;
	padding: 14px 44px;
	margin-top: 18px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;

	background-color: #ff5357;
	border-radius: 3px;
}

.info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 87px;
}

.info-container {
	width: 940px;
    margin: 0 auto;
}

.info h2 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.info p {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
}

.left-container h2 {
	margin-top: 0px;
}

.left {
	float: left;
	width: 528px;
}

.left .fst-p {
	width: 538px;
	padding-bottom: 24px;
	margin-bottom: 0px;
}

.left .scnd-p {
	width: 460px;
	padding-bottom: 24px;
	margin: 0px;
}

.left ul {
	margin-top: 0px;
	margin-bottom: 20px;

	/*list-style-image: url("../img/red-point.png");*/
}

.left li {
	padding-bottom: 24px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;

	list-style-image: url("../img/red-point.png");
}

.left a {
	padding: 14px 40px 12px 41px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;

	background-color: #ee3643;
	border-radius: 5px;
}

.left a:hover,
.left a:focus {
  	background-color: #ca2c37;
}

.left a:active {
  	background-color: #ba2732;
}

.right {
	float: right;
}

.right p {
	width: 199px;
	padding-bottom: 34px;
	margin-bottom: 0px;
}

.right img {
	margin-bottom: 45px;

	background-color: #ffffff;
}

.right a {
	padding: 14px 59px 12px 63px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;

	background-color: #ee3643;
	border-radius: 5px;
}

.right a:hover,
.right a:focus {
  	background-color: #ca2c37;
}

.right a:active {
  	background-color: #ba2732;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

article {
	width: 100%;

	color: #000000;

	background-color: #f4f7f9;
}

.about {
	width: 940px;
	margin: 0 auto;
	padding: 67px 0 73px 0;
}

article h2 {
	margin: 0;
	margin-bottom: 28px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

article p {
	width: 970px;
	margin: 0;

	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}

.ending {
	background-color: #32425c;
	color: #ffffff;
}

.footer-up {
	display: flex;
	width: 940px;
	padding-bottom: 53px;
	margin: 0 auto;
}

.footer-up-left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 0;
    line-height: 0;
}

.footer-up-right {
	display: flex;
	flex-direction: column;
	width: 613px;
    margin-top: 30px;
    font-size: 0;
    line-height: 0;
}

.footer-up-right nav {
	display: flex;
	height: 40px;
	width: 613px;
	box-shadow: none;
	margin-bottom: 0;
}

.footer-up-right nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 8px 0px;
	padding-bottom: 0px;
}

.footer-up-right nav li {
	display: inline-block;
}

.footer-up-right nav a {
	padding: 0px 30px;
}

.footer-up-right nav:first-of-type {
	margin-left: 35px;
} 

.footer-up-right nav:last-of-type {
	margin-top: 10px;
	margin-left: 60px;
	padding: 8px 0px;
} 

.footer-up-right nav:last-of-type a {
	color: #ffd180;
}

.ending li {
	list-style: none;
}

.ending a:not(.f-logo) {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.ending a:hover:not(.f-logo),
.ending a:focus:not(.f-logo) {
	text-decoration: underline;
	background-color: #32425c;
}

.ending a:active:not(.f-logo) {
	opacity: 0.5;
	text-decoration: none;
	background-color: #32425c;
}

.f-logo {
	padding: 18px 41px 15px;
	margin-bottom: 32px;
	width: 138px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;
}

.f-logo:hover,
.f-logo:focus {
	text-decoration: none;
	background-color: #ca2c37;
	box-shadow: 0 5px 0 0 #9a212a;
}

.f-logo:active {
	opacity: 1;
	background-color: #ba2732;
	box-shadow: 0 5px 0 0 #8e1e26;
}

.f-telephone address {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: 24px;
	color: #f3f7f9;
}

.f-telephone a {
	color: #f3f7f9;
}

.links {
	display: flex;
	min-height: 107px;

    background: #293449;
	background-color: #293449;

	color: #ffffff;
}

.f-links {
	display: flex;
	justify-content: space-between;
	width: 940px;
	margin: 0 auto;
}

.links p {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.f-left {
	padding: 37px 0 0 2px;
	width: 228px;
	height: 33px;
}

.f-left p {
	padding: 0;
	margin: 0;
}

.f-center {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 300px;
}

.f-center a {
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin: 0 3px;

    text-decoration: none;

    background: #212a3a;
    border-radius: 50px;
}

.f-center a:hover,
.f-center a:focus,
.f-center a:active {
	background-color: #ee3643;
}

.f-right {
	display: flex;
	float: left;
    margin-top: 37px;
    font-size: 0;
    line-height: 0;
}

.f-right p:first-of-type {
	width: 135px;
	height: 32px;
	margin: 0;
	margin-right: 53px;
	padding: 0;
}

.f-right p:last-of-type {
	width: 96px;
	height: 34px;
	margin: 0;
	padding: 0;
}

.f-right a {
	color: #ffd180;
}

.f-right a:hover,
.f-right a:focus {
	text-decoration: underline;
}

.f-right a:active {
	color: #ee3643;
	text-decoration: none;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	width: 620px;
 	height: 430px;
 	margin: 0 auto;

  	box-shadow: 
  	0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  	border-top: 7px solid #ee3643;
}

.form input:hover {
	border-color: #b5b5b5;
}
.form input:focus {
	border-color: #ee3643;
}

.form-name {
	display: flex;
	width: 460px;
}

.form-name input {
	width: 200px;
	padding: 11px 0 11px 16px;

	border: 2px solid #dee3e4;
	border-radius: 3px;
}

.form-name input:first-of-type {
	margin-right: 20px;
}

.form-mail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 318px;
}

.form label {

  	font-family: "Cuprum", Arial, sans-serif;
  	font-size: 18px;
  	line-height: 18px;
  	text-align: left;
}

.form-letter {
	width: 460px;
	margin-top: 22px;
}

.form-letter span {
	margin-bottom: 13px;
}

.form-letter label {
	margin-bottom: 13px;
}

.form-letter textarea {
	width: 440px;
	padding: 13px 0 0 16px;

	border: 2px solid #dee3e4;
	border-radius: 3px;
}

.form-letter textarea:hover {
	border: 2px solid #b5b5b5;
}

.form-letter textarea:focus {
	border: 2px solid #ee3643;
}

.form-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 112px;

	background-color: #f1f1f1;
}

.form button {
	padding: 11px 198px; 

  	font-family: "Cuprum", Arial, sans-serif;
  	font-size: 14px;
  	line-height: 18px;
  	text-align: center;
  	text-transform: uppercase;
	color: #ffffff;

	border: 0;
	border-radius: 3px;
	background-color: #ee3643;
}

.popup-catalog {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 620px;
	height: 282px;
	margin: 0 auto;
	box-shadow: 
	0px 20px 40px 0 rgba(41, 52, 73, 0.75); 
	border-top: 7px solid #ee3643;
}

.popup-catalog p {
	margin: 20px 0 32px 32px;

	font-family: "Cuprum", Arial, sans-serif;
  	font-size: 30px;
  	line-height: 30px;
  	font-weight: 400;
  	text-align: center;
	color: #000000;
}

.form-basket {
	display: flex;
	align-items: center;
	width: 460px;
	height: 170px;
}

.buttons-order {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 620px;
	height: 112px;

	background-color: #f1f1f1;
}

.buttons-order a {
	padding: 11px 49px;
	margin-right: 20px;

	font-family: "Cuprum", Arial, sans-serif;
  	font-size: 14px;
  	line-height: 18px;
  	text-transform: uppercase;
  	font-weight: 400;
  	text-align: center;
	color: #fff;

	background-color: #ee3643;
	border-radius: 3px;
}

.buttons-order a:hover,
.buttons-order a:focus {
	background-color: #ca2c37;
}

.buttons-order a:active {
	background-color: #ba2732;
}

.buttons-order button {
	padding: 11px 49px;

	font-family: "Cuprum", Arial, sans-serif;
  	font-size: 14px;
  	line-height: 18px;
  	text-transform: uppercase;
  	font-weight: 400;
  	text-align: center;
	color: #000000;
	
	background-color: #fff;
	border: 0;
	border-radius: 3px;
}

.buttons-order button:hover,
.buttons-order button:focus {
	background-color: #c2c2c2;
}