body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	color: #000000;
	line-height: 24px;
}

a {
	text-decoration: none;
	color: #000000;
}

header {
	width: 100%;
	height: 320px;
	background-color: #f4f7f9;
}

.navigation {
	width: 100%;
	height: 42px;
	background-color: #293448;
}

.navigation .logo {
	width: 220px;
	height: 47px;

	background-color: #ee3643;
	box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.25);
	text-transform: uppercase;
	font-size: 24px;
	text-align: center;
}

.navigation .search {
	height: 12px;
	width: 253px;
}

.navigation button {
	content: url("img/icon-search.svg");
}

.bookmarks::before {
	
	content: url("img/icon-bookmark.svg");
}

nav {
	list-style: none;
	background-color: #293448;
	box-shadow: 0px 5px 0px 0px;
}